* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

html,
body {
    height: 100%;
    width: 100%;
}

.light {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.dark {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav2 {
    display: flex;
    gap: 30px;
}