* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    height: 100vh;
    width: 100%;
    background: #111;
}

.page2 {
    height: 100vh;
    width: 100%;
    background: #222;
}

.page3 {
    height: 100vh;
    width: 100%;
    background: #333;
}