button {
    height: 60px;
    width: 200px;
    margin: 10px;
    background-color: antiquewhite;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
}