*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border:  2px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card p{
  margin: 20px 0px;
  
}
.card img{
  height: 100px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: #111;
  border: none;
  border-radius: 5px;
}
