*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;

}
.card{
  background-color: rgb(88, 103, 103);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: rgb(33, 53, 46);
  margin: 15px;
  padding: 15px;
}