* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-size: 30px;
    font-weight: bolder;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(62, 145, 223);
}

.nav div {
    display: flex;
    align-items: center;
    gap: 40px;
}