.head {
    background-color: rgb(111, 139, 131);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
}

button {
    background-color: rgb(162, 106, 37);
}