@import "tailwindcss";
h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    font-weight: 600;
}

h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100 px;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    font-weight: 600;
}